@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Graduate&family=Quicksand&display=swap');

body {
    display: flex;
    justify-content: center;
    background-color: rgb(29, 21, 41);
    background-size: contain;
    margin: auto 0;
}

h1 {
    font-family: 'Graduate', cursive;
    color: white;
    font-size: 50px;
}

h2#prompt {
    font-family: 'Gaegu', cursive;
    color:  rgb(29, 21, 41);
    /* z-index: 3; */
    font-size: 50px;
    display: flex;
    align-items: flex-start;
}

h2#score {
    font-family: 'Gaegu', cursive;
    color:  rgb(29, 21, 41);
    font-size: 50px;
    display: flex;
    align-items: flex-start;
}

h2#timer {
    font-family: 'Gaegu', cursive;
    color:  rgb(29, 21, 41);
    font-size: 50px;
    display: flex;
    align-items: flex-start;
}

h2#end-score {
    font-family: 'Gaegu', cursive;
    color:  white;
    font-size: 50px;
    position: absolute;
    top: 100px;
    left: 375px;
}

div#game-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    position: absolute;
}

div#game-word {
    display: flex;
    justify-content: space-around;
    height: 600px;
    width: 1000px;
    position: absolute;
    z-index: 2;
}

div#game-basketball {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
}

canvas#basketball {
    border: 1px solid black;
    display: flex;
    height: 600px;
    width: 1000px;
    background-image: url(background-w-hoop.png);
    /*background-color: rgb(102, 169, 233);*/
    position: absolute;
    
}

div#start-menu {
    border: 1px solid black;
    display: flex;
    height: 600px;
    width: 1000px;
    background-color: rgb(78, 67, 49);
    position: absolute;
    z-index: 4;
}

#input-field {
    /* z-index: 3; */
    display: flex;
    align-items: center;
}

input {
    font-family: 'Gaegu', cursive;
    background-color: black;
    color: white;
    border: none;
    font-size: 30px;
}

button {
    display: block;
    height: 50px;
    width: 275px;
    font-size: 30px;
}

div#instruction {
    display: none;
    height: 600px;
    width: 1000px;
    background-color: rgb(78, 67, 49);
    position: absolute;

}

div#text-container {
    display: block;
}

div#end-screen {
    border: 1px solid black;
    display: flex;
    height: 600px;
    width: 1000px;
    background-color: rgb(78, 67, 49);
    position: absolute;

}

button#start-button {
    position: absolute;
    top: 200px;
    left: 375px;
    border-radius: 5px;
}

button#instruction-button {
    position: absolute;
    top: 300px;
    left: 375px;
    border-radius: 5px;
}

button#play-again {
    position: absolute;
    top: 300px;
    left: 375px;
    border-radius: 5px;
}

p {
    color: white;
    font-family: 'Gaegu', cursive;
    font-size: 30px;
    margin-left: 50px;
    margin-right: 50px;
}